In [1]:
# some initial QC
import json
import numpy as np
import matplotlib.pyplot as plt

In [5]:
# load databaseOlympics data for comparison
# load the data
dbo_results = [];
dbo_athletes = {};
for c in 'abcdefghijklmnopqrstuvwxyz':
    with open('../../data/databaseOlympics/MedalTable_'+c+'.json') as data_file:    
        dbo_results.extend(json.load(data_file))
    with open('../../data/databaseOlympics/AthleteTable_'+c+'.json') as data_file:    
        dbo_athletes.update(json.load(data_file))
        
print "Loaded " + str(len(dbo_athletes)) + " records into dbo_athletes"
print "Loaded " + str(len(dbo_results)) + " records into dbo_results"
print
print dbo_results[100]
print
print dbo_athletes[dbo_results[100]['Athlete']][0]

Loaded 24686 records into dbo_athletes
Loaded 34182 records into dbo_results

{u'Country': u'MAR', u'Age': u'29', u'GameCode': u'22', u'Event': u'Featherweight', u'Result': None, u'Year': u'1988', u'Sport': u'BOX', u'Medal': u'BRONZE', u'Athlete': u'ACHIKABD01'}

Achik,Â Abdelhak

In [ ]:
# G-S-B QC by olympics
# compute number of results by olympics
medal_count= {}

for res in dbo_results:
    olym = res['GameCode']
    medal = res['Medal']
    if medal is None:
        continue
    if not olym in medal_count:
        medal_count[olym] = [0, 0, 0, 0, 0]    
    medal_count[olym][3] = medal_count[olym][3]+1
    medal_count[olym][4] = int(str(res['Year']))
    if medal[0] == "G":
        medal_count[olym][0] = medal_count[olym][0]+1
    elif medal[0] == "S":
        medal_count[olym][1] = medal_count[olym][1]+1
    elif medal[0] == "B":
        medal_count[olym][2] = medal_count[olym][2]+1

medal_table = []
for ol in medal_count:
    medal_table.append(medal_count[ol])

medal_array = np.array(medal_table)
    
# make a bar chart
N = len(medal_array)
ind = np.arange(N)  # the x locations for the groups
width = 0.2       # the width of the bars

# define plot and bar axes
fig, ax = plt.subplots()
rectsG = ax.bar(ind, medal_array[:,0], width, color='y')
rectsS = ax.bar(ind+width, medal_array[:,1], width, color='k')
rectsB = ax.bar(ind+2*width, medal_array[:,2], width, color='r')

# plot tick setup
ax.set_ylabel('Medal Count')
ax.set_title('Medals Scraped from databaseolympics.com')
ax.set_xticks(ind + 1.5*width)
ax.set_xticklabels(medal_array[:,4])
plt.xticks(rotation=90)
plt.gcf().subplots_adjust(bottom=0.4)

plt.show()

In [22]:
medal_array[1:10]

array([[  32,   32,   28, 1932,    0],
       [ 613,  609,  629, 1996,    0],
       [ 667,  664,  682, 2000,    0],
       [ 657,  658,  678, 2004,    0],
       [  26,   26,   29, 1924,    0],
       [ 446,  445,  462, 1980,    0],
       [ 480,  471,  498, 1984,    0],
       [ 506,  498,  529, 1988,    0],
       [ 561,  542,  600, 1992,    0]])